<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Agregar Ingreso / Egreso</h4>
                <p class="card-description">
                    Especifique el monto y el tipo
                </p>

                <form [formGroup]="form" (ngSubmit)="add(form.value)">

                    <div class="form-group" *ngFor="let item of ingreEgreFormData">
                        <label>{{item.label}}</label>
                        <input [type]="item.typeForm" class="form-control" [placeholder]="item.placeholder" [formControlName]="item.formControlName">
                    </div>


                    <div class="form-group">
                        <label>Tipo</label>
                        <br>
                        <select name="" id="" class="form-control" formControlName="type">
                            <option value="">Seleccione una opcion</option>
                            <option value="ingreso">Ingreso</option>
                            <option value="egreso">Egreso</option>
                        </select>
                        <!-- <button type="button" class="btn btn-warning btn-block">Egreso</button> -->
                    </div>

                    <hr>
                    <button type="submit" class="btn btn-success mr-2" [disabled]="form.invalid">
                <i class="fa fa-save"></i>
                Agregar
              </button>

                    <!-- 
                <button disabled class="btn btn-success mr-2">
                  <i class="fa fa-spin fa-sync"></i>
                  Espere por favor...
                </button> 
              -->

                    <button type="reset" class="btn btn-light">Cancelar</button>

                </form>
            </div>
        </div>
    </div>
</div>

<app-loader [loaders]="loading"></app-loader>